*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgb(232, 88, 88);
    width: 100vw;
    height: 100vh;

}
header{ 
    text-align: center;
    width: 100%;
    padding: 20px;
    

}
.logo{
    color: #ac0e0e;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    background-color: rgb (232, 88, 88);
    padding: 11px 19px 10px 23px;
}

nav{
    display: inline-block;
}

ul{
    display: inline;
}

li{
    list-style: none;
    display: inline;
    padding: 22px 24px 21px 24px;
    width: 749;
    height: 29px;
    font-weight: 500;
    font-style: medium;
    size: 24px;
    line-height: 100%;
    letter-spacing: 0;

    a{
        color: white;
    }
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(drag.webp);
    color: aliceblue;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;

}
.hero h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
main{
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    
}
.card-container{
     /* display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; */
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 0 40px; */
}
.card{
    width: 360px;
    min-height: 500px;

    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 300px;

}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
footer{
    background: #510606;
    padding-top: 50px;
}
.container{
    width: 1100px;
    margin: auto;
display: flex;
justify-content: center;
}
.footer{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
width: 390px;
margin: auto;
padding: 5px;
}
.footer-content ul{
text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    position: relative;
}